{% extends "main.html" %}
{% block mainbody %}
    <div class="container">
        <h2 style="color:#801515">Download</h2>
        <h5>FunARTS is free and open source with no login requirement. Find custom installation instructions at our git repository: <br><br>
<!--            <a href="https://bitbucket.org/ziemertlab/funarts">https://bitbucket.org/ziemertlab/arts</a><br><br>-->
            <a>In preparation</a><br><br>
            </h5>
        <h5>The webserver can also be installed separately which can be used to view exported results: <br><br>
<!--            <a href="https://bitbucket.org/ziemertlab/funartswebapp">https://bitbucket.org/ziemertlab/artswebapp</a><br><br>-->
            <a>In preparation</a><br><br>
            </h5>
        <h5>Reference sets can be downloaded from the below link <br><br>
            <a>In preparation</a><br><br>
            </h5>
<!--        <a href="/static/zip_refsets/all_references.zip">Download all reference sets</a><br><br>-->
    </div>
{% endblock %}